
html {
	color: white;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background:#333030;
}

h1,h2 {
	text-align: center;
}

.yui3-g .content {
	margin-right:10px; /* "column" gutters */
	margin-top:10px; /* "row" gutters */
	border-radius: 5px;
	background:#474444;
	padding: 10px;
}

.header {
	text-align: center;
	vertical-align: top;
	font-size: 60px;
}

.number{
	text-align: center;
	background:#2F2929;
	border-radius: 5px;
	font-size: 40px;
}

.twimg{
	text-align: center;
}

.tweets{
	text-align: left;
	background:#333030;
	border-radius: 5px;
}
