<!--This is the jinja2 template'd html for the velotweet banner-->
<!DOCTYPE html>
<html>
	<head>
		<title>Velotweet</title>
		<!--I need these scripts for custom fonts and for the simple YUI grid layout-->
		<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/cssgrids/cssgrids-min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
		<link rel="stylesheet" href="{{ static.css }}">
		<meta http-equiv="refresh" content="5">
	</head>
	<body>
		<div class="yui3-g">
			<!--Header Bar-->
			<div class="yui3-u-3-4">
				<div class="content">
					<div class="header">
						<img src="{{ static.thaat }}" width=200, height=130, alt="thaat">
						Velotweet@{{ event }}
						<img src="{{ static.thinkhaus}}" width=120, height=130, alt="thaat">
					</div>
				</div>
				<!--Main tweet display-->
				<div class="content">
					<h1>Tweets about {{ event }}</h1>
						<!--Loop through the tweets and display what the 
						is said by whom.-->
						{% for t in tweets %}
							<div class="tweets">
								<p><i>@{{ t.user }}:</i> {{ t.text }}</p>
							</div>
						{% endfor %}
				</div>
			</div>
			<div class="yui3-u-1-4">
				<!--Side bar with rider stats-->
				<div class="content">
					<h2>Speed</h2>
					<div class="number">
						{{ speed }} km/h
					</div>
					<h2>Power Output</h2>
					<div class="number">
						{{ power }} W
					</div>
					<h2>Distance</h2>
					<div class="number">
						{{ distance }} m
					</div>
					<h2>Latest Image</h2>
					<div class='twimg'>
						<img src={{ twimg }} width=256 height=192>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
